@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
.welcome {
  background: url("..//img/back.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Raleway-Regular; }
  @media screen and (max-width: 480px) {
    .welcome {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.welcome__title {
  margin: 0;
  padding: 0 0 40px 0;
  font-size: 56px;
  font-family: Raleway-Bold;
  width: 750px; }
  @media screen and (max-width: 1024px) {
    .welcome__title {
      font-size: 40px;
      width: 450px;
      padding: 0 0 100px 0; } }
  @media screen and (max-width: 480px) {
    .welcome__title {
      text-align: center;
      font-size: 27px;
      padding: 0 0 30px 0px;
      width: 100%; } }

.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px; }
  @media screen and (max-width: 1024px) {
    .welcome__info {
      margin-left: 10px; } }
  @media screen and (max-width: 480px) {
    .welcome__info {
      width: 100%;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .welcome__info hr {
      width: 60%;
      margin: 0 20%; } }
  .welcome__info .datetime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Raleway-Bold; }
    @media screen and (max-width: 480px) {
      .welcome__info .datetime {
        width: 100%;
        font-size: 19px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 10px; } }

/*Стили формы */
.form_registration {
  width: 380px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 50px; }
  @media screen and (max-width: 1024px) {
    .form_registration {
      padding: 0;
      width: 260px; } }
  @media screen and (max-width: 480px) {
    .form_registration {
      margin-top: 50px; } }

input {
  padding: 9px;
  margin: 27px;
  font-size: 18px;
  border: 1px solid #C0C0C0;
  border-radius: 7px;
  width: 300px; }
  @media screen and (max-width: 1024px) {
    input {
      margin: 27px 10px 27px 0;
      width: 250px; } }
  @media screen and (max-width: 480px) {
    input {
      margin: 12px; } }

input[type="submit"] {
  width: 320px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border: none;
  color: white;
  background-color: #2a5077; }
  @media screen and (max-width: 1024px) {
    input[type="submit"] {
      width: 270px; } }
  input[type="submit"]:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #483D8B;
    cursor: pointer; }

@media screen and (max-width: 1024px) {
  .onepage-pagination {
    display: none; } }

.teacher {
  background: url("..//img/1.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.teacher__title {
  margin: 0;
  font-size: 32px;
  padding: 30px 20px 0px 40px; }
  @media screen and (max-width: 1024px) {
    .teacher__title {
      font-size: 28px;
      padding: 0 20px 0 5px; } }
  @media screen and (max-width: 480px) {
    .teacher__title {
      font-size: 24px;
      padding: 0;
      margin: 20px 0 0 0; } }

.teacher__name {
  margin: 0 0 50px 40px;
  font-size: 40px; }
  @media screen and (max-width: 1024px) {
    .teacher__name {
      font-size: 38px;
      margin: 0 0 25px -10px; } }
  @media screen and (max-width: 480px) {
    .teacher__name {
      font-size: 32px;
      margin: 0 0 25px 0; } }

.teacher__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .teacher__info {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .teacher__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .teacher__info .photo {
    width: 440px;
    height: 500px;
    background: url("..//img/teacher1.jpg") center center no-repeat;
    background-size: contain;
    border: 10px solid transparent;
    -webkit-border-image: 10 -webkit-repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px, transparent 30px, transparent 40px);
    -o-border-image: 10 -o-repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px, transparent 30px, transparent 40px);
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px, transparent 30px, transparent 40px);
    margin-left: 30px; }
    @media screen and (max-width: 1024px) {
      .teacher__info .photo {
        width: 480px;
        -webkit-border-image: none;
        -o-border-image: none;
        border-image: none;
        margin-left: 6px; } }
    @media screen and (max-width: 480px) {
      .teacher__info .photo {
        width: 230px;
        height: 230px;
        margin-left: 0; } }
  .teacher__info .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px; }
    @media screen and (max-width: 1024px) {
      .teacher__info .text {
        margin: 0;
        margin-left: -20px; } }
    @media screen and (max-width: 480px) {
      .teacher__info .text {
        margin-left: 0; } }

.teacher__list {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 3; }
  @media screen and (max-width: 1024px) {
    .teacher__list {
      line-height: 1.8;
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .teacher__list {
      font-size: 16px; } }
  .teacher__list li {
    list-style: none;
    background: url("..//img/tick.png") 0 3px no-repeat;
    padding-left: 70px; }
    @media screen and (max-width: 1024px) {
      .teacher__list li {
        background: none;
        list-style: circle;
        margin-left: 20px;
        padding-left: 10px; } }
    @media screen and (max-width: 480px) {
      .teacher__list li {
        margin-left: 0;
        padding-left: 0; } }

.skills {
  background: url("..//img/white2.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Raleway-Regular; }
  @media screen and (max-width: 480px) {
    .skills {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.skills__title {
  margin: 0;
  text-align: center;
  padding: 40px 0 10px 0;
  font-size: 48px; }
  @media screen and (max-width: 480px) {
    .skills__title {
      font-size: 22px;
      padding: 30px 0 0 0;
      text-transform: uppercase; } }

.skills__info {
  padding: 15px 10px 0 10px; }
  @media screen and (max-width: 480px) {
    .skills__info {
      padding: 15px 5px 0 5px; } }

.skills__info .firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .skills__info .firstline {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 5px; } }

.skills__info .steps, .skills__info .major, .skills__info .markers, .skills__info .difference,
.skills__info .notebook, .skills__info .example, .skills__info .easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  font-size: 18px;
  line-height: 1.3; }
  @media screen and (max-width: 480px) {
    .skills__info .steps, .skills__info .major, .skills__info .markers, .skills__info .difference,
    .skills__info .notebook, .skills__info .example, .skills__info .easy {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 100%;
      font-size: 14px;
      text-align: left; } }
  @media screen and (max-width: 480px) {
    .skills__info .steps p, .skills__info .major p, .skills__info .markers p, .skills__info .difference p,
    .skills__info .notebook p, .skills__info .example p, .skills__info .easy p {
      margin-top: -15px; } }

.skills__info .steps__pic, .skills__info .major__pic, .skills__info .markers__pic,
.skills__info .difference__pic, .skills__info .notebook__pic,
.skills__info .example__pic, .skills__info .easy__pic {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px; }
  @media screen and (max-width: 480px) {
    .skills__info .steps__pic img, .skills__info .major__pic img, .skills__info .markers__pic img,
    .skills__info .difference__pic img, .skills__info .notebook__pic img,
    .skills__info .example__pic img, .skills__info .easy__pic img {
      width: 35px; } }

.skills__info .secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .skills__info .secondline {
      margin: 0;
      padding: 0 5px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.registration {
  background: url("..//img/contacts.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Raleway-Regular; }
  @media screen and (max-width: 480px) {
    .registration {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.registration__title {
  font-size: 50px;
  padding: 0 40px 40px 0;
  margin: 0; }
  @media screen and (max-width: 1024px) {
    .registration__title {
      font-size: 40px;
      padding: 0 0 150px 0; } }
  @media screen and (max-width: 480px) {
    .registration__title {
      text-align: center;
      font-size: 23px;
      padding: 18px 0 25px 0;
      width: 100%; } }

.registration__info {
  width: 800px; }
  @media screen and (max-width: 1024px) {
    .registration__info {
      width: 550px; } }
  @media screen and (max-width: 480px) {
    .registration__info {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .registration__info hr {
      width: 60%;
      margin: 0 20%; } }
  .registration__info .datetime {
    margin-top: -70px;
    font-size: 28px;
    font-family: Raleway-Bold; }
    @media screen and (max-width: 1024px) {
      .registration__info .datetime {
        width: 450px;
        margin-left: 10px;
        margin-top: -130px; } }
    @media screen and (max-width: 480px) {
      .registration__info .datetime {
        margin-top: 0;
        font-size: 18px;
        width: 100%;
        margin-left: 0;
        text-align: center;
        line-height: 1.5; } }

@media screen and (max-width: 1024px) {
  .registration__form {
    width: 350px;
    padding: 0;
    margin: 0 40px 0 0;
    margin-left: -30px; } }

@media screen and (max-width: 480px) {
  .registration__form {
    text-align: center;
    margin-left: 0;
    margin: 0; } }

@media screen and (max-width: 1024px) {
  .registration__form input {
    width: 250px; } }

@media screen and (max-width: 480px) {
  .registration__form input {
    margin: 8px; } }

@media screen and (max-width: 1024px) {
  .registration__form input[type="submit"] {
    width: 270px; } }

.footer {
  background-color: #f7f8fa;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .footer {
      font-size: 8px; } }

.footer__details {
  width: 45%; }
  @media screen and (max-width: 480px) {
    .footer__details {
      width: 48%; } }
  .footer__details p {
    margin: 0;
    padding: 10px; }
    @media screen and (max-width: 480px) {
      .footer__details p {
        padding: 5px; } }

.footer__contacts {
  text-align: right;
  width: 45%; }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      width: 48%; } }

.reasons {
  background: url("..//img/ucheba.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular; }
  @media screen and (max-width: 1024px) {
    .reasons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reasons__title {
  margin: 0;
  text-align: center;
  font-size: 44px;
  padding: 40px; }
  @media screen and (max-width: 1024px) {
    .reasons__title {
      padding: 0 40px 0 40px; } }
  @media screen and (max-width: 480px) {
    .reasons__title {
      font-size: 26px;
      padding: 0 40px 0 40px; } }

.reasons__list {
  font-size: 30px;
  margin-left: 150px;
  margin-top: 40px;
  line-height: 3.2; }
  @media screen and (max-width: 1024px) {
    .reasons__list {
      line-height: 2.8;
      margin-left: 0;
      font-size: 30px; } }
  @media screen and (max-width: 480px) {
    .reasons__list {
      font-size: 16px;
      line-height: 1.8;
      padding-right: 20px; } }
  .reasons__list li {
    margin-left: 20px;
    list-style: none;
    background: url("..//img/tick.png") 0 23px no-repeat;
    padding-left: 80px; }
    @media screen and (max-width: 1024px) {
      .reasons__list li {
        background: url("..//img/tick.png") 0 18px no-repeat; } }
    @media screen and (max-width: 480px) {
      .reasons__list li {
        margin-bottom: 30px;
        margin-left: -20px;
        background: url("..//img/tick.png") 0 2px no-repeat; } }
    @media screen and (max-width: 480px) {
      .reasons__list li:last-child {
        margin-bottom: 0; } }

#mlb2-7421100,
#mlb2-7421100 *,
#mlb2-7421100 a:hover,
#mlb2-7421100 a:visited,
#mlb2-7421100 a:focus,
#mlb2-7421100 a:active {
  overflow: visible;
  position: static;
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  cursor: default;
  float: none;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  max-height: none;
  max-width: none;
  left: auto;
  min-height: 0;
  min-width: 0;
  right: auto;
  top: auto;
  width: auto;
  z-index: auto;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: medium none; }

#mlb2-7421100 a:hover {
  cursor: pointer !important; }

#mlb2-7421100 h4 {
  font-weight: normal; }

#mlb2-7421100 .subscribe-form {
  padding: 20px;
  width: 380px !important;
  border: 10px solid #F6F6F6 !important;
  background: #f6f6f6 none !important;
  border-radius: 25px !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }
  @media screen and (max-width: 480px) {
    #mlb2-7421100 .subscribe-form {
      border: none;
      padding: 5px;
      width: 300px; } }

#mlb2-7421100 .ml-block-form {
  margin-bottom: 0px; }

#mlb2-7421100 .subscribe-form .form-section {
  margin-bottom: 20px;
  width: 100%; }

#mlb2-7421100 .subscribe-form .form-section.mb10 {
  margin-bottom: 10px;
  float: left; }

#mlb2-7421100 .subscribe-form .form-section.mb0 {
  margin-bottom: 0px; }

#mlb2-7421100 .subscribe-form .form-section h4 {
  margin: 0px 0px 10px 0px !important;
  padding: 0px !important;
  color: #000000 !important;
  /* font-family: 'Verdana', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 22px;
  line-height: 100%;
  text-align: center !important; }
  @media screen and (max-width: 480px) {
    #mlb2-7421100 .subscribe-form .form-section h4 {
      font-size: 20px;
      width: 100%; } }

#mlb2-7421100 .subscribe-form .form-section p,
#mlb2-7421100 .subscribe-form .form-section li {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 10px 0px;
  color: #000000 !important;
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 14px !important; }

#mlb2-7421100 .subscribe-form .form-section a {
  font-size: 14px !important; }

#mlb2-7421100 .subscribe-form .form-section .confirmation_checkbox {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 15px 0px !important;
  color: #000000 !important;
  /* font-family: 'Verdana', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 14px !important;
  font-weight: normal !important; }

#mlb2-7421100 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {
  margin-right: 5px !important; }

#mlb2-7421100 .subscribe-form .form-section .form-group {
  margin-bottom: 15px; }

#mlb2-7421100 .subscribe-form .form-section .form-group label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  line-height: 100%;
  color: #000000 !important;
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 14px !important; }

#mlb2-7421100 .subscribe-form .form-section .checkbox {
  width: 100%;
  margin: 0px 0px 10px 0px; }

#mlb2-7421100 .subscribe-form .form-section .checkbox label {
  color: #000000 !important;
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 14px !important; }

#mlb2-7421100 .subscribe-form .form-section .checkbox input {
  margin: 0px 5px 0px 0px; }

#mlb2-7421100 .subscribe-form .form-section .checkbox input[type=checkbox] {
  -webkit-appearance: checkbox;
  opacity: 1; }

#mlb2-7421100.ml-subscribe-form .form-group .form-control {
  width: 100%;
  font-size: 13px;
  padding: 10px 10px;
  height: auto;
  margin: auto;
  font-family: Raleway-Regular;
  border-radius: 5px;
  border: 1px solid #cccccc !important;
  color: #000000 !important;
  background-color: #FFFFFF !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: left; }

#mlb2-7421100.ml-subscribe-form button {
  border: none !important;
  cursor: pointer !important;
  width: 100% !important;
  border-radius: 5px !important;
  height: 42.5px !important;
  background-color: #C0392B !important;
  color: #FFFFFF !important;
  /* font-family: 'Verdana', sans-serif !important; */
  font-family: Raleway-Regular;
  font-size: 16px !important;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important; }

#mlb2-7421100.ml-subscribe-form button.gradient-on {
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }

#mlb2-7421100.ml-subscribe-form button.gradient-on:hover {
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%); }

#mlb2-7421100.ml-subscribe-form button[disabled] {
  cursor: not-allowed !important; }

#mlb2-7421100.ml-subscribe-form .form-section.ml-error label {
  color: red !important; }

#mlb2-7421100.ml-subscribe-form .form-group.ml-error label {
  color: red !important; }

#mlb2-7421100.ml-subscribe-form .form-group.ml-error .form-control {
  border-color: red !important; }

@media (max-width: 768px) {
  #mlb2-7421100 {
    width: 100% !important; }
  #mlb2-7421100 form.ml-block-form,
  #mlb2-7421100.ml-subscribe-form .subscribe-form {
    width: 100% !important; } }

.ml-vertical-align-center-main {
  margin-top: 220px; }
  @media screen and (max-width: 1024px) {
    .ml-vertical-align-center-main {
      margin-top: 0;
      margin-right: 20px; } }
  @media screen and (max-width: 480px) {
    .ml-vertical-align-center-main {
      margin-right: 0;
      margin: 40px; } }

.ml-vertical-align-center {
  margin-top: 150px; }
  @media screen and (max-width: 1024px) {
    .ml-vertical-align-center {
      margin-right: 20px;
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .ml-vertical-align-center {
      margin: 40px 40px 0 40px;
      margin-top: 20px; } }

@font-face {
  font-family: Raleway-Regular;
  src: url(..//fonts/Raleway-Regular.woff);
  src: url(..//fonts/Raleway-Regular.woff2); }

@font-face {
  font-family: Raleway-Bold;
  src: url(..//fonts/Raleway-Bold.woff);
  src: url(..//fonts/Raleway-Bold.woff2); }
