.condition {
    background: url("..//img/wiki.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: Century Gothic;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition__info {
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    width: 52vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrap {
        display: flex;
    }
    .online, .period {
       background-color: white;
       padding: 60px 30px;
       margin: 0 30px 50px 30px;
       width: 240px;
       border: 5px solid black;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 32px;
    //    font-weight: bold;
    }
    .others {
        // font-weight: bold;
        font-size: 30px;
    }
}