.quote {
    background: url("..//img/look.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote__img {
    margin: 50px;
    img {
        border-radius: 50%; 
    }
}
blockquote {
    line-height: 1.5;
    width: 40vw;
    margin: 0;
    background: #8A4545;
    color: white;
    padding: 30px 30px 30px 90px;
    font-family: 'Century Gothic', sans-serif;
}
blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    top: 632vh;
    left: 45vw;;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
blockquote p {
    margin-top: 0;
    font-size: 22px;
    font-weight: 200;
}
blockquote cite {
    font-style: italic;
    text-transform: uppercase;
}