.registration {
    background: url("..//img/contacts.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Raleway-Regular;
}
.registration__title {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    margin: 0;
}
.registration__form {
    text-align: center;
}
.registration__info {
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    .date, .time {
        margin: 30px;
        border-radius: 5px;
        padding: 20px;
        height: 190px;
        display: flex;
        align-items: center;
        line-height: 1.6;
        font-size: 26px;
    }
}
.footer {
    background-color: #f7f8fa;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer__details {
    width: 45%;
    p {
        margin: 0;
        padding: 10px;
    }
}
.footer__contacts {
    text-align: right;
    width: 45%;
}