.registration {
    background: url("..//img/contacts.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway-Regular;
}
.registration__title {
    font-size: 34px;
    padding: 0 60px 50px 0;
    margin: 0;
}
.registration__info {
    .datetime {
        margin-top: -70px;
        font-size: 24px;
    }
}
.footer {
    background-color: #f7f8fa;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer__details {
    width: 45%;
    p {
        margin: 0;
        padding: 10px;
    }
}
.footer__contacts {
    text-align: right;
    width: 45%;
}