.skills {
    background: url("..//img/ucheba.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__title {
    margin: 0;
    font-family: Century Gothic;
    text-align: center;
    padding: 40px 0 0 0;
    font-size: 44px;
}
.skills__info {
    padding: 15px 15px 0 15px;
}
.skills__info {
    .firstline {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .steps, .major, .markers, .difference,
    .notebook, .example, .easy {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 25%;
        font-family: Century Gothic;
        font-size: 18px;
        line-height: 1.3;
    }
    .markers {
        margin-top: -10px;
    }
    .secondline {
        display: flex;
         justify-content: center;
    }
}