.skills {
    background: url("..//img/ucheba.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.skills__title {
    margin: 0;
    font-family: Century Gothic;
    text-align: center;
    padding: 40px 0 20px 0;
}
.skills__info {
    padding: 20px 15px 0 15px;
}
.skills__info {
    .firstline {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .steps, .main, .markers, .difference,
    .notebook, .example, .easy {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 25%;
        font-family: Century Gothic;
        font-size: 18px;
        line-height: 1.3;
    }

    .secondline {
        display: flex;
         justify-content: center;
    }
}