.teacher {
    background: url("..//img/1.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher__title {
    margin: 0;
    font-size: 32px;
    padding: 30px 20px 0px 40px;
    @include tablets {
        font-size: 28px;
        padding: 0 20px 0 5px;
    }
    @include phones {
        font-size: 24px;
        padding: 0;
        margin: 20px 0 0 0;
    }
}
.teacher__name {
    margin: 0 0 50px 40px;
    font-size: 40px;
    @include tablets {
        font-size: 38px;
        margin: 0 0 25px -10px;
    }
    @include phones {
        font-size: 32px;
        margin: 0 0 25px 0;
    }
}
.teacher__info {
    display: flex;
    justify-content: center;
    @include tablets {
        align-items: center;
    }
    @include phones {
        flex-direction: column;
    }
    .photo {
        width: 440px;
        height: 500px;
        background: url("..//img/teacher1.jpg") center center no-repeat;
        background-size: contain;
        border: 10px solid transparent;
        border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, 
        transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
        margin-left: 30px;
        @include tablets {
            width: 480px;
            border-image: none;
            margin-left: 6px;
        }
        @include phones {
            width: 230px;
            height: 230px;
            margin-left: 0;
        }
    } 
    .text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        @include tablets {
            margin: 0;
            margin-left: -20px;
        }
        @include phones {
            margin-left: 0;
        }
    }
}
.teacher__list {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 3;
    @include tablets {
        line-height: 1.8;
        font-size: 18px;
    }
    @include phones {
        font-size: 16px;
    }
    li {
        list-style: none;
        background: url("..//img/tick.png") 0 3px no-repeat;
        padding-left: 70px;
        @include tablets {
            background: none;
            list-style: circle;
            margin-left: 20px;
            padding-left: 10px;
        }
        @include phones {
            margin-left: 0;
            padding-left: 0;
        }
    }
    
}